@{
    Layout = "_admLayout";
   
}
<div class="row">
    <div class="col-md-8">
        <h4>Sınavler</h4>
        <a href="/Lesson">dersler</a> | <span id="catName"></span>
        <table class="table" id="tbExamList">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adı</th>
                    <th>Fiyatı</th>
                    <th>Durumu</th>
                    <th>Kayıt T.</th>
                    <th>Düzenleme T.</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">
        <h4 id="editHeader">Sınav Ekle</h4>

        <div class="b-2">
            <label>Sınav Adı</label>
            <input type="text" class="form-control" id="txtName" />
            <input type="hidden" id="txtId" />
        </div>
        <div class="b-2">
            <label>Sınav Fiyatı</label>
            <input type="text" class="form-control" id="txtPrice" />

        </div>
        <div class="b-2">
            <label>Sınav ders</label>
            <select class="form-select" id="cbLesson">
            </select>

        </div>
        <div class="b-2">
            <input type="checkbox" class="form-check-inline" id="cbIsActive" />
            <label>Aktif</label>
        </div>
        <div class="mb-2">
            <button class="btn btn-outline-primary btn-sm" id="btnSave">Kaydet</button>
            <button class="btn btn-outline-primary btn-sm" id="btnEdit">Düzenle</button>
            <button class="btn btn-outline-danger btn-sm" id="btnDelete">Sil</button>
            <button class="btn btn-outline-secondary btn-sm" id="btnCancel">Vazgeç</button>
        </div>

        <div id="result"></div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var catId = "@ViewBag.CatId";
            ExamList();
            LessonList();
            LessonById();
            $("#btnEdit").hide();
            $("#btnDelete").hide();


            function LessonList() {
                $.ajax({
                    url: ApiBaseUrl + "Lesson",
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        var opt = "";
                        $("#cbLesson").empty();
                        $.each(data, function (i, item) {

                            if (catId == item.id) {
                                opt = '<option value="' + item.id + '" selected>' + item.name + '</option>';
                            } else {
                                opt = '<option value="' + item.id + '">' + item.name + '</option>';
                            }

                            $("#cbLesson").append(opt);
                        });

                    },
                    error: function () { }
                });
            }
            function LessonById() {
                $.ajax({
                    url: ApiBaseUrl + "Lesson/" + catId,
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#catName").html("<b>" + data.name + "<b>");
                    },
                    error: function () { }
                });
            }
            function ExamList() {
                $.ajax({
                    url: ApiBaseUrl + "Lesson/" + catId + "/Exams",
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        ExamListToTable(data);
                    },
                    error: function () { }
                });
            }
            function ExamListToTable(data) {
                $("#tbExamList tbody").empty();
                var tr = '';
                $.each(data, function (i, item) {
                    var bg = item.isActive ? 'bg-success' : 'bg-danger';

                    tr += '<tr><td>' + item.id + '</td><td>' + item.name + '</td><td>' + item.price + '</td><td><span class="badge ' + bg + '">' + (item.isActive ? 'Aktif' : 'Pasif') + '</span></td><td>' + FormatDate(item.created) + '</td><td>' + FormatDate(item.updated) + '</td><td><button class="btn btn-outline-primary btn-sm edit" id=' + item.id + '>Düzenle</td></tr>'
                });

                $("#tbExamList tbody").append(tr);
            }
            function FormatDate(d) {
                var date = new Date(d);
                var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                var mount = date.getMonth() > 9 ? date.getMonth() : '0' + date.getMonth();
                var year = date.getFullYear();

                var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours();
                var minute = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes();
                var second = date.getSeconds() > 9 ? date.getSeconds() : '0' + date.getSeconds();

                var fd = day + "." + mount + "." + year + " " + hour + ":" + minute + ":" + second;
                return fd
            }


            $("#btnSave").click(function () {
                var name = $("#txtName").val();
                var price = $("#txtPrice").val();
                var LessonId = $("#cbLesson").val();
                var isActive = $("#cbIsActive").is(":checked");
                var Exam = new Object();
                Exam.Name = name;
                Exam.Price = price;
                Exam.LessonId = LessonId;
                Exam.IsActive = isActive;

                $.ajax({
                    url: ApiBaseUrl + "Exams",
                    method: "POST",
                    data: JSON.stringify(Exam),
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            ExamList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });

            });
            $(document).on("click", ".edit", function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: ApiBaseUrl + "Exams/" + id,
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#txtId").val(data.id);
                        $("#txtName").val(data.name);
                        $("#txtPrice").val(data.price);
                        $("#cbLesson").val(data.LessonId);
                        $("#cbIsActive").prop("checked", data.isActive);

                        $("#btnEdit").show();
                        $("#btnDelete").show();
                        $("#btnSave").hide();

                        $("#editHeader").html("Sınav Düzenle - Sil");
                    },
                    error: function () { }
                });


            });


            $("#btnCancel").click(function () {
                $("#txtId").val("");
                $("#txtName").val("");
                $("#cbIsActive").prop("checked", false);
                $("#btnEdit").hide();
                $("#btnDelete").hide();
                $("#btnSave").show();
                $("#editHeader").html("Sınav Ekle");

            });


            $("#btnEdit").click(function () {

                var id = $("#txtId").val();
                var name = $("#txtName").val();
                var price = $("#txtPrice").val();
                var LessonId = $("#cbLesson").val();
                var isActive = $("#cbIsActive").is(":checked");
                var Exam = new Object();
                Exam.Id = id;
                Exam.Name = name;
                Exam.Price = price;
                Exam.LessonId = LessonId;
                Exam.IsActive = isActive;

                $.ajax({
                    url: ApiBaseUrl + "Exams",
                    method: "PUT",
                    data: JSON.stringify(Exam),
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            ExamList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });


            });

            $("#btnDelete").click(function () {
                console.log("sil");
                var id = $("#txtId").val();
                $.ajax({
                    url: ApiBaseUrl + "Exams/" + id,
                    method: "DELETE",
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            ExamList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });


            });
        });
    </script>
}