@{
    Layout = "_admLayout";
    ViewData["Title"] = "Home Page";
}
@section Scripts {

    <script>
        var token = localStorage.getItem("token");
        if (token == "" || token == null) {
            location.href = "/Home/Login";
            return false;
        }
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
